@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&display=swap');
.backgroundFon{
    -fx-background-color:#F9EFDB;
}

.mainButton{
    -fx-background-color:#9DBC98;
    -fx-font-size:20pt;
    -fx-text-fill:white;
    -fx-font-family: 'Lemon', serif;
    -fx-background-radius: 15;
}
.activeButton{
    -fx-background-color:#638889;
    -fx-font-size:10pt;
    -fx-text-fill:white;
    -fx-font-family: 'Montserrat', sans-serif;
}
.inactivenButton{
    -fx-background-color:#ada085;
    -fx-font-size:10pt;
    -fx-text-fill:white;
    -fx-font-family: 'Montserrat', sans-serif;
}
.input{
    -fx-border:0px;
    -fx-background-color:#9DBC98;
    -fx-font-family: 'Montserrat', sans-serif;
}
.backButton{
    -fx-background-color:#c7bfb1b4;
}