@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
.backgroundFon{
    -fx-background-color:rgba(182,187,196,1);
}

.mainButton{
    -fx-background-color:#161A30;
    -fx-font-size:20pt;
    -fx-text-fill:white;
    -fx-font-family: 'Lemon', serif;
    -fx-effect: dropshadow(gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2px;
}
