@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
.backgroundFon{
    -fx-background-color:rgba(182,187,196,1);
}

.mainButton{
    -fx-background-color:#161A30;
    -fx-font-size:20pt;
    -fx-text-fill:white;
    -fx-font-family: 'Lemon', serif;
    -fx-background-radius: 15;
}
